services:
  - type: web
    name: vibe-weaver-api
    env: node
    buildCommand: npm install --legacy-peer-deps
    startCommand: node index.js
    envVars:
      - key: NODE_VERSION
        value: 18.18.0
      - key: MONGO_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: RAZORPAY_KEY_ID
        sync: false
      - key: RAZORPAY_KEY_SECRET
        sync: false
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: ALLOWED_ORIGINS
        value: https://bookit-cyan.vercel.app,https://bookitadmin.vercel.app
      - key: API_URL
        value: https://bookit-dijk.onrender.com
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
